# Created by .ignore support plugin (hsz.mobi)

.DS_Store
node_modules
*.log
package-lock.json
explorations
TODOs.md
dist/*.gz
dist/*.map
dist/vue.common.min.js
test/e2e/reports
test/e2e/screenshots
coverage
RELEASE_NOTE*.md
dist/*.js
.vscode/
.idea
